.searchTransition{
    transition-duration: 0.5s;
}

html,body{
	height: 100% !important;
}

*{

    
    ::-webkit-scrollbar {
		width: 4px;
		background: transparent;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.MyLayout{
	height: calc(100vh - 64px);
	padding: 15px;
}


.AppLayout{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

