.searchTransition{
    transition-duration: 0.5s;
}

*{

    
    ::-webkit-scrollbar {
		width: 4px;
		background: transparent;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.MyLayout{
	height: auto;
}

.caretStyle{
	margin-left: 4px;
	.anticon-caret-down{
		:hover{
			animation-name: upDown;
			animation-iteration-count: infinite;
			animation-duration: .5s;
			animation-timing-function: ease-in-out;
		}
	
	}

}

@keyframes upDown {
	0%{
	   transform: translateY(0px);
	}
	25%{
		transform: translateY(-2px);
	}
	50%{
	   transform: translateY(0px);
	}
	75%{
		transform: translateY(2px)
	}
	100%{
		transform: translateY(0px)
	}
}